body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: url('./antonbro.png');
    background-position: center center;
	overflow: hidden;
}

.wrapper {
	color: #fff;
	font-family: sans-serif;
	font-size: 30px;
}

#facts {
	text-align: center;
	margin-bottom: 30px;
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}